body {
    padding-top: 5rem;
}

label{
    font-weight:bold;
}

.required{
    color: rgb(211, 66, 40);
    font-weight: bold;
    display:inline-block;
}

.flashes{
    background-color: aquamarine;
    font-weight: bold;
    
}

